
.header{

    padding: 6%;
    text-align: center;
    font-size: 35px;
    color: white;
}
.section{
    display: -webkit-flex;
    display: flex;
    height:42.3em;

}
.nav{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 0.82;
    background: #ccc;
    overflow:auto;
}
.article{
/* Style the content */
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background: #f8f8f8;
    padding: 10px;

}
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
.url-list{
    padding: 15px 10px 15px 30px;
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: #81e6d9;
    background: #f8f8f8;
}
.url-list:hover{
    background: #ffffff;
}
.original-url-text{
    font-size: 17px;
    padding-top: 10px;
    padding-left: 20px;
}
.shortening-url-text{
    font-size: 13px;
    padding-top: 10px;
    padding-left: 30px;
}

.nav::-webkit-scrollbar {
    width: 10px;
}
.nav::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
    border-radius: 10px;
}
.nav::-webkit-scrollbar-track {
    background-color: #f8f8f0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.url-count{
    font-size: 20px;
}
.detail-original-url{
    font-size: 40px;
}
.info-container{
    font-size: 18px;
}
.info-list{
    font-size: 30px;
    background-color: #ffffff;
    border:1px solid red;
}
.contents input:read-only{
    background-color: #ffffff;
}
.content-name{
    font-size: 35px;
    border-bottom: 1px solid #81e6d9;
}
.content-div{
    border-bottom: 1px solid #81e6d9;
    padding-bottom: 40px;
    padding-top: 10px;
}
